<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Title</title>
</head>
<body>
<h1 th:text="'Welcome back Silverback customer, ' + ${user}"></h1>
<br>
<br>
<a th:href="@{/}">Click Here</a>
<br><br>
<!--<p th:each="usr : ${users}" th:text="${usr.username}">hey</p>-->
<a th:each="usr : ${users}" th:text="${usr.username}" th:href="@{/user/details(id=${usr.id})}">hey</a>
<!--th:text="${user.username}-->

</body>
</html>